[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.115.0"
uvicorn = "==0.30.0"
scikit-learn = "==1.5.0"
joblib = "==1.4.2"
pydantic = "==2.7.0"

[dev-packages]
pytest = "==7.4.0"
httpx = ">=0.23.0,<0.28.0"

[requires]
python_version = "3.12"
